/* 1. General */
/* line 3, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
body {
  background-color: #F7EEE5;
}

/* 2. Logo */
/* line 8, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.logo {
  position: absolute;
  top: 8px;
  left: 8px;
}
/* line 12, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.logo img {
  height: 107px;
}
@media (max-width: 1180px) {
  /* line 12, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
  .logo img {
    height: 97px;
  }
}

/* 3. Header */
/* line 21, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.header {
  position: absolute;
  top: 14px;
  right: 14px;
}
/* line 25, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.header .normal_link {
  color: #1471CE;
  text-decoration: underline;
  margin-left: 11px;
  font-size: 19px;
}
@media (max-width: 752px) {
  /* line 25, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
  .header .normal_link {
    display: none;
  }
}
/* line 34, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.header .btn {
  margin-left: 10px;
  padding: 8px 19px;
}
/* line 38, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.header a:hover {
  color: #5D8EBF;
}

/* 4. Site-content */
/* line 44, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.site-content {
  margin-top: 110px;
  min-height: 850px;
  background-color: white;
  border: 2px solid lightGrey;
  border-radius: 10px;
  padding: 32px 97px 50px 97px;
  margin-bottom: 70px;
}
@media (max-width: 705px) {
  /* line 44, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
  .site-content {
    padding: 12px 37px 20px 37px;
  }
}
@media (max-width: 400px) {
  /* line 44, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
  .site-content {
    padding: 10px 18px 15px 18px;
  }
}
/* line 58, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.site-content h1, .site-content h2, .site-content h3 {
  text-align: center;
}
/* line 61, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.site-content h1 {
  font-size: 39px;
}
/* line 64, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.site-content h2 {
  font-size: 28px;
}
/* line 67, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.site-content p {
  font-size: 18px;
  text-align: center;
}
@media (max-width: 752px) {
  /* line 72, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
  .site-content img {
    display: none;
  }
}

/* 5. Signup sidebar */
/* line 77, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.sidebar {
  margin-top: 110px;
  border: 2px solid lightGrey;
  margin-left: 30px;
  padding: 35px 40px;
  border-radius: 10px;
}
/* line 83, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.sidebar img {
  height: 150px;
}
/* line 86, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.sidebar form input {
  display: block;
  margin-bottom: 9px;
}
/* line 90, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.sidebar h4 {
  background-color: #5B5B5B;
  color: white;
  padding: 8px;
  border-radius: 16px;
  margin-top: 18px;
  text-align: center;
}
/* line 98, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.sidebar p {
  font-size: 18px;
  text-align: center;
}
/* line 102, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.sidebar .btn {
  margin-top: 10px;
  padding: 10px 21px;
}

/* 6. Signup container */
/* line 109, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.signup-container {
  width: 460px;
  margin: 160px auto;
  padding: 48px 100px 65px 100px;
  border: 2px solid lightGrey;
  border-radius: 10px;
}
@media (max-width: 460px) {
  /* line 109, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
  .signup-container {
    width: 100%;
  }
}
/* line 114, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.signup-container h4 {
  background-color: #5B5B5B;
  color: white;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 126, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.signup-container input {
  margin-bottom: 9px;
}

/* 7. Login container */
/* line 132, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.login-container {
  width: 460px;
  margin: 160px auto;
  padding: 48px 100px 65px 100px;
  border: 2px solid lightGrey;
  border-radius: 10px;
}
@media (max-width: 460px) {
  /* line 132, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
  .login-container {
    width: 100%;
  }
}
/* line 137, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.login-container h4 {
  background-color: #5B5B5B;
  color: white;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 149, /Users/Johannes/code/donelists/app/assets/stylesheets/foundational.scss */
.login-container input {
  margin-bottom: 9px;
}
/*


*/

