<div class="edit-container">
  <!-- 1.form -->
  <%= form_for([@user,@done]) do |f| %>
    <%= f.text_area :content, plaeholder: "..." %> <br>
    <%= f.submit "done." %>
  <% end %> <hr>
  <!-- 1.btn -->
  <%= button_to "delete", user_done_path(@user, @done), :method => :delete, data: { confirm: 'delete?' } %>
</div>