<div class="signup-container">
  <%= render '/shared/signup_form' %> <hr>
  <p> DoneList is designed to be a small, yet charming addition to one's life. It's also a trick played on the "To-Do" list.</p>
</div>