<%= render '/shared/logo' %>
<%= render '/shared/header_links' %>

<div class="signup-container">
  <%= render '/shared/signup_form' %>
  <hr>
  <p> DoneList is one small app designed to minimally improve your everyday. Have a try and write feedback. </p>
</div>