<div class="row">
  <!-- 1.content -->
  <div class="site-content col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-1">
    <h1> Don't forget how much you've already accomplished. </h1>
    <h3>DoneList is a small, simple app that lets you record what you've already accomplished and sends you email reminders, so you don't forget.</h3> <br>

    <h2>DoneList vs. ToDoList</h2>
    <p>The common 'To-Do' list suffers from one defect - one is always short of it. If one wasn't, it wouldn't be a to-do anymore, would it?
      DoneList plays a small trick on this state of affairs by periodically reminding one of all the things one has already accomplished. It's a fun and healthy thing :)</p> 

    <div class="image-container">
      <%= image_tag "todo.jpg" %>
    </div>

    <h2>How? Simple.</h2>
    <p>DoneList aims to be very simple. You sign up, have one interface where you can write down your accomplishments and the email reminders get send out automatically. In between you can of course always update your DoneList to add the things you've accomplished in the meantime.</p>
  </div>

  <!-- 2.sidebar -->
  <div class="hidden-xs hidden-sm col-md-3">
    <div class="arrow"> <%= image_tag "arrow.png" %> </div>
    <div class="sidebar"> <%= render '/shared/signup_form' %> </div>
  </div>
</div>