<div class="row">
  <!-- 1.content -->
  <div class="site-content col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-1">
    <h1>A small, simple app to improve your everyday.</h1>
    <h3>A Basecamp is a private, secure space online where people working together can organize and discuss everything</h3> <br> <br>

    <h2>A place to work + a way to work </h2>
    <p>A Basecamp is a private, secure space online where people working together can organize and discuss everything they need to get a project done. See it, track it, discuss it, act on it. Tasks, discussions, deadlines, and files - everything’s predictably organized in Basecamp.</p>

    <h2>A place to work + a way to work </h2>
    <p>A Basecamp is a private, secure space online where people working together can organize and discuss everything they need to get a project done. See it, track it, discuss it, act on it. Tasks, discussions, deadlines, and files - everything’s predictably organized in Basecamp.</p>

    <h2>A place to work + a way to work </h2>
    <p>A Basecamp is a private, secure space online where people working together can organize and discuss everything they need to get a project done. See it, track it, discuss it, act on it. Tasks, discussions, deadlines, and files - everything’s predictably organized in Basecamp.</p>

    <div class="img">
      <img src="http://cdn.someecards.com/someecards/filestorage/todo-list-simple-hate-yourself-funny-ecard-ewZ.png">
    </div>
  </div>

  <!-- 2.sidebar -->
  <div class="sidebar hidden-xs hidden-sm col-md-3">
    <%= image_tag "arrow.png" %>
    <%= render '/shared/signup_form' %>
  </div>
</div>