<%= render '/shared/header' %>

<div class="row">

  <!-- 1.content -->
  <div class="site-content col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-1">
    <h1>Donelist</h1>
    <h3>...</h3>
  </div>

  <!-- 2.sidebar -->
  <div class="sidebar hidden-xs hidden-sm col-md-3">
    <%= image_tag "arrow.png" %>
    <%= render '/shared/signup_form' %>
  </div>
  
</div>