<p> <%= @user.name %>, take a second to give yourself some propts. Here are the things you have already accomplished :) </p> <br>

<% @dones.each do |d| %>
  <% if !d.content.blank? %> 
      <p> <%= d.content %> </p>
  <% end %>
<% end %>

<br>
p.s. To add to the list, <%= link_to "login here.", login_path %>