<p style="text-decoration: underline;"> <strong> Your DoneList </strong> - take a second to give yourself some props. :)</p>
<% @dones.each do |d| %>
  <% if !d.content.blank? %> 
      <p> <%= d.content %> </p>
  <% end %>
<% end %> <br>

<p>p.s. <%= link_to "Login here", "https://yourdonelist.herokuapp.com/login" %> to add to the list.</p>