<p> 
  <%= @user.name %>, take a second to look at your DoneList and give yourself some props. 
  (<%= link_to "Login here", "https://yourdonelist.herokuapp.com/login" %> to add to the list.)
</p> <br>

<p style="text-decoration: underline;"> <strong> Your DoneList </strong> </p>
<% @dones.each do |d| %>
  <% if !d.content.blank? %> 
      <p> <%= d.content %> </p>
  <% end %>
<% end %> 