<p> <%= @user.name %>, these are some of the things that you have already achived. </p>
<p> (login: here to add some more.) </p>

<% @dones.each do |d| %>
  <% if !d.content.blank? %> 
      <p> <%= d.content %> </p>
  <% end %>
<% end %>

<br>
<br>