<p> <strong style="text-decoration: underline;"> Your DoneList. Take a second to appreciate! </strong> </p>
<% @dones.each do |d| %>
  <% if !d.content.blank? %> 
      <p> <%= d.content %> </p>
  <% end %>
<% end %> <br>

<p>p.s. <%= link_to "Login here", "https://yourdonelist.herokuapp.com/login" %> to add to the list.</p>