<p> <strong> Your DoneList - </strong> so you dont forget what has already been accomplished. (to add some more: login.) </p>

<% @dones.each do |d| %>
  <% if !d.content.blank? %> 
      <p> <%= d.content %> </p>
  <% end %>
<% end %>

<br>
<br>