<p> <strong> Your DoneList - take a second to appreciate all you've done already. </strong> </p>
<% @dones.each do |d| %>
  <% if !d.content.blank? %> 
      <p> <%= d.content %> </p>
  <% end %>
<% end %> <br>

<p>p.s. <%= link_to "Login here", "https://yourdonelist.herokuapp.com/login" %> to add to the list.</p>