<p> <%= @user.name %>, here the things you have already accomplished. Take a second to give yourself some propts. :) </p>

<% @dones.each do |d| %>
  <% if !d.content.blank? %> 
      <p> <%= d.content %> </p>
  <% end %>
<% end %>

<br>
p.s. To add more, login: <%= link_to "here.", login_path %>